* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    background-color: #f0f0f0;
  }
  
  nav {
    background: green;
    height: 85px;
    width: 100%;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    padding: 0 20px;
}

label.logo img {
    color: white;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    line-height: 80px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active, a:hover{
    background: rgb(8, 252, 8);
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    transition: all .5s;
}
#check{
    display: none;
}
.checkbtn {
    display: none;
}
  
  @media (max-width: 991px) {
    label.logo {
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a {
      font-size: 16px;
    }
  }
  
  @media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        z-index: 1;
        height: 100vh;
        background: green;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: rgb(8, 252, 8);
    }
    #check:checked ~ ul{
        left: 0;
    }
}

  .contact {
    z-index: 1;
    min-height: 100vh;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #222;
  }
  
  .contact .content {
    max-width: 800px;
    text-align: center;
  }
  
  .contact .content h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
  }
  
  .contact .content .state {
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
  }
  
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 30px;
  }
  
  .container .contactInfo {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
    align-items: center;
  }
  
  .container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
    transition: 0.5s;
  }
  
  
  .container .contactInfo .box:hover .icon {
    background: green;
    color: #fff;
  }
  
  .container .contactInfo .box .text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;
  }
  
  
  .container .contactInfo .box .text h3 {
    font-weight: 500;
    color: green;
  }
  
  .container .contactInfo .txt {
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
    padding-left: 10px;
    border-left: 5px solid green;
    line-height: 1em;
  }
  
  .sci {
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0;
  }
  
  .sci li {
    list-style: none;
  }
  
  .sci li a {
    color: #fff;
    font-size: 2em;
    transition: 0.5s;
  }
  
  .sci li a:hover {
    color: green;
  }
  
  .container .contactForm {
    position: relative;
    width: 100%;
    max-width: 400px;
    background: #fff;
    min-height: 100px;
    padding: 60px;
  }
  
  .container .contactForm h2 {
    font-size: 2em;
    color: #333;
    font-weight: 500;
  }
  
  .container .contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 20px;
  }
  
  .container .contactForm .inputBox input,
  .container .contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
  }
  
  .container .contactForm .inputBox span {
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: #666;
    transition: 0.5s;
  }
  
  .container .contactForm .inputBox input:focus ~ span,
  .container .contactForm .inputBox textarea:focus ~ span,
  .container .contactForm .inputBox input:valid ~ span,
  .container .contactForm .inputBox textarea:valid ~ span {
    color: green;
    font-size: 0.9em;
    transform: translateY(-20px);
  }
  
  .container .contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: green;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
  }


.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  justify-content: center;
  align-items: center;
}


.modal-content {
  background-color: green;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  position: relative;
  width: 80%;
  max-width: 400px;
  color: #fff;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

  
  @media (max-width: 991px) {
    .contact {
      padding: 50px;
    }
    .container {
      flex-direction: column;
    }
    .container .contactInfo,
    .container .contactForm {
      width: 100%;
    }
    .container .contactForm {
      padding: 50px 30px;
    }
  }
  @media (max-width: 495px) {
    .contactInfo {
      font-size: .5em;
    }
  }
  